.wrapper {
  display: flex;
  align-items: center;
  padding: 12px 0;
  min-width: 80px;
  border-radius: 28px;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  border: 1px solid transparent;
  user-select: none;

  &.active {
    background-color: #ebebeb;
  }
  &.outline {
    background-color: #fff;
    border-color: #666;
    &.active {
      background-color: #000;
      color: #d1d1d1;
    }
  }
  &:hover {
    opacity: 0.8;
  }
}
.title {
  flex: 1;
}
.icon {
  margin: 0 12px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
}
// Theme dark
.dark {
  background-color: #232b79 !important;
  color: #fff;
  &.outline {
    color: #050464;
    background-color: #ccd1ff !important;
  }
  &.active {
    background-color: #14182a !important;
  }
}
