.wrapper {
  width: 100%;
  height: 100%;
  padding: 24px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 1.3rem;
}
.btn-add {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
}
.body-watchlist {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}
// Watch Item
.wrapper-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 0;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
.brand {
  padding-left: 8px;
  flex: 1;
}
.short-name {
  font-size: 1rem;
  line-height: 13px;
}
.name {
  opacity: 0.8;
  font-size: 0.8rem;
}
.data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 600;
  font-size: 0.8rem;
}
.price {
}
.rate {
  &.up {
    color: rgb(var(--success-color));
  }
  &.down {
    color: rgb(var(--red-color));
  }
}
