.wrapper {
  position: relative;
  height: 100vh;
  color: #000;
}
.title {
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
  top: 48px;
  font-size: 6rem;
  font-weight: 100;
}
.btn-back {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  border: none;
  padding: 12px;
  display: flex;
  gap: 8px;
}
.btn-theme {
  z-index: 1;
  position: absolute;
  right: 42px;
  top: 20px;
  font-size: 1.6rem;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  &:hover {
    background-color: #f0f0f0;
  }
}
.wrapper.dark {
  color: var(--color-dark) !important;
  background-color: var(--bg-dark) !important;
  & input {
    background-color: var(--bg-dark) !important;
    color: #fff !important;
  }
}
/* Mobile */
@media (max-width: 700px) {
  .title {
    font-size: 4rem !important;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .title {
    font-size: 4rem !important;
  }
}
