.wrapper {
  position: relative;
}
.btn-back {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 12px;
  display: flex;
  gap: 8px;
}
.btn-theme {
  z-index: 1;
  position: absolute;
  right: 42px;
  top: 20px;
  font-size: 1.6rem;
  color: #000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  &:hover {
    background-color: #f0f0f0;
  }
}
.wrapper.dark {
  color: var(--color-dark) !important;
  background-color: var(--bg-dark);
  & input {
    background-color: #1f2a51 !important;
    color: var(--color-dark) !important;
  }
}
