@import url("../assets/themify-icons/themify-icons.css");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --height-header: 85px;
  --width-sidebar: 332px;
  --mwidth-sidebar: 200px;
  --gap: 24px;

  --background-color: 256, 256, 256;
  --background-light-color: 245, 247, 249;
  --red-color: 250, 0, 0;
  --primary-text-color: 29, 29, 29;
  --success-color: 0, 128, 0;
  --danger-color: 239, 93, 95;

  --bg-dark: #3e4364;
  --color-dark: #c8bbbb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--primary-text-color));
  background-color: rgb(var(--background-color));
  font-size: 1rem;
  font-family: var(--font-mono);
}

a {
  color: inherit;
  text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s;
}
.m-icon {
  width: 1rem;
  height: 1rem;
}
.l-icon {
  width: 1.2rem;
  height: 1.2rem;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
