.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.wrapper-form {
  min-height: 100px;
  min-width: 100px;
  border-radius: 10px; /* Bo tròn các góc */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #d7d7d7;
  padding: 28px;
}
.wrapper.dark {
  & .wrapper-form {
    background-color: #211e4b;
  }
}
