.wrapper {
  position: fixed;
  z-index: 2;
  width: var(--width-sidebar);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #e5e5e5;
  padding: 16px var(--gap);
  transition: all ease 0.3s;
  transform: translateX(-100%);
  background-color: #fff;
}
.show {
  transform: translateX(0) !important;
}
.heading {
  padding: 14px;
  display: flex;
  align-items: center;
}
.logo {
  border-radius: 50%;
}
.title {
  margin-left: 4px;
  font-weight: 600;
}
.banner {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #000;
  color: #fff;
  border-radius: var(--border-radius);

  & .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    align-items: center;
  }
  & .right {
    color: rgb(var(--success-color));
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
}
.title-banner {
  font-size: 0.8rem;
}
.wrap-total {
  display: flex;
  align-items: center;
  gap: 4px;
  & strong {
    font-weight: 400;
    font-size: 1.2rem;
    min-width: 90px;
    text-align: center;
  }
}
.toggle-total {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.icon-eye {
  width: 12px;
  height: 12px;
}
.icon-up {
  width: 12px;
  height: 12px;
}
.navigate {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
  flex: 1;
}

.more-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  border-top: 1px solid #666;
  & button {
    background-color: transparent;
  }
}
.sub-info {
  font-size: 0.6rem;
  width: 16px;
  height: 16px;
  padding: 2px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
}
.dark {
  color: var(--color-dark);
  background-color: var(--bg-dark);
}
/* Mobile */
@media (max-width: 700px) {
  .wrapper {
    width: 200px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .wrapper {
    transform: translateX(0) !important;
    width: var(--mwidth-sidebar);
  }
}
/* Desktop */
@media (min-width: 1120px) {
  .wrapper {
    transform: translateX(0) !important;
  }
}
