.wrapper {
  display: flex;
  padding: var(--gap);
  gap: 12px;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: calc(100% - var(--width-sidebar));
  background-color: #fff;
}
.left {
  display: flex;
  flex: 1;
  align-items: center;
}
.btn-menu {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 4px 8px;
  font-size: 1.2rem;
  margin-right: 4px;
  display: none;
}
.search {
  background-color: rgb(var(--background-light-color));
  width: 360px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 16px 0 16px;

  & input {
    background-color: transparent;
    border: none;
    padding: 8px;
    color: #000;
    flex: 1;

    &:active,
    &:focus,
    &:focus-visible {
      border: none;
      outline: none;
    }
  }
}

.wrapper-btn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  border-right: 1px solid #666;
  padding-right: 16px;

  & button {
    font-size: 1.2rem;
    color: #000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.sub-info {
  font-size: 0.7rem;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 1px;
}
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.avatar {
  border-radius: 50%;
  object-fit: cover;
}
.btn-login {
  padding: 8px 0 !important;
}
// Theme dark
.dark {
  background-color: var(--bg-dark);
  color: var(--color-dark);

  & button {
    color: var(--color-dark);
  }
  & .search {
    background-color: #1f2a51;
    & input {
      color: var(--color-dark);
    }
  }
}
@media (max-width: 700px) {
  .wrapper {
    width: 100% !important;
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .btn-menu {
    display: block;
  }
  .search {
    width: 100%;
    border: 1px solid #666;
  }
  .wrapper-btn {
    gap: 12px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .wrapper {
    width: calc(100% - var(--mwidth-sidebar)) !important;
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .btn-menu {
    display: block;
  }
  .search {
    width: 100%;
    border: 1px solid #666;
  }
  .right {
    width: 100%;
  }
  .user-info {
    flex: 1;
    justify-content: flex-end;
  }
  .wrapper-btn {
    gap: 12px;
    justify-content: center;
  }
}
